<% provide(:title, 'Home') %>

<div id="banner">
	||
	<%= @page_title || "Library" %>
</div>
<div id="columns">
	<div id="side">
		<a href="http://www....">Home</a><br />
		<a href="http://www..../faq">FAQ</a><br />
		<a href="http://www..../news">Notícias</a><br />
		<a href="http://www..../contact">Contatos</a><br />
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	</div>
	<div id="main">
		<%= render  @books %>
	</div>
</div>
