<% provide(:title, 'Home') %>

<div id="banner">
	
	<%= @page_title || "Library" %>
</div>

<% if current_user %>		
	<div class="row">
		<ul class="thumbnails">
			<%= render @books%>
		</ul>
	</div>
<% end %>


