
@import "bootstrap";

/* mixins, variables, 
etc. */ 


$grayMediumLight:
#eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */
html {
	overflow-y: scroll;
}
body {
	padding-top: 60px;
}
section {
	overflow: auto;
}
textarea {
	resize: vertical;
}
.center {
	text-align: center;
}
.center h1 {
	margin-bottom: 10px;
}
/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid
	$grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/*header */
#logo { 
	float: left; 
	margin-right: 10px; 
	font-size: 1.7em; 
	color: white; 
	text-transform: 
	uppercase; 
	letter-spacing: -1px; 
	padding-top: 9px; 
	font-weight: bold; 
	line-height: 1; 
	&:hover { 
		color: white; 
		text-decoration: none; 
	} 
} 
/*typography*/
h1, h2, h3, h4, h5, h6 

{ 
	line-height: 1; 
} 

h1 {
	font-size: 3em;
	letter-spacing:
	-2px;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font-size: 1.2em;
	letter-spacing:
	-1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}
p {
	font-size: 1.1em;
	line-height: 1.7em;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/*####################################################################*/


#banner {
	background: #9c9;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
}
#banner img {
	float: left;
}
#columns {
	background: #141;
}
#main {
	margin-left: 7em;
	padding-top: 4ex;
	padding-left: 2em;
	background: white;
}
#side {
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 1em;
	background: #141;
}
#notice {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}
a {
	text-decoration: none;
	font: smaller sans-serif;
}
a.addtocart {
	padding-left: 1em;
	padding-right: 1em;
	color: #141;
	background: #cec;
	font-weight: bold;}
	a.addtocart:hover {
		color: #000;
		background: #eec;
	}
	#side a {
		color: #ada;
		font: smaller sans-serif;
	}
	#side a:hover {
		color: #fff;
	}
	/**** styles for the catalog ***/
/* === Use the Holly Hack to fix layout bugs in IE on
Windows === */
/* Hide from IE-mac \*/
* html .catalogentry { height: 1%; }
/* End hide from IE-mac */
.catalogentry {
	padding: 1ex 0ex;
}
.catalogentry img {
	float: left;
	margin-right: 2em;
}
.catalogentry h3 {
	font: larger bold;
	color: #282;
	margin-top: 0ex;
	margin-bottom: 0.5ex;
}
.catalogentry p {
	font: smaller sans-serif;
	margin-bottom: .5ex;
}
.catalogprice {
	padding-right: 4em;
}
/* Shoppng cart screen */
.carttitle {
	background: #282;
	color: #dfd;
	font: bold smaller sans-serif;
	text-align: center;
}
.carttitle TD {
	padding-bottom: 0px;
}
#cartmenu {
	float: right;
	border-left: 1px dotted #282;}
	#totalcell {
		font-weight: bold;
		border-top: 1px solid #282;
		border-bottom: 2px solid #282;
		text-align: right;
	}
	.separator {
		border-bottom: 1px dotted #282;
		clear: both;
	}